@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    color: #111827;
    margin: 0;
    padding: 0;
}

a {
    color: #0070f3;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
